<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- xlsx , xlsx-style -->
    <script src="https://lf3-cdn-tos.bytecdntp.com/cdn/expire-1-M/jszip/2.4.0/jszip.min.js"></script>
    <script>
      // 下面 xlsx-style 读取的变量为 jszip 这里中转一下
      window.jszip = JSZip
    </script>
    <meta name="cdnload" content="jszip,xlsx-style,vue,element-ui-js,element-ui-css,mockjs" />
    <meta name="author" content="lijinbo" />
    <title>180-Excel和JSON互转</title>
    <style></style>
  </head>

  <body>
    <div id="app">
      <el-form :inline="true">
        <el-form-item label="操作">
          <el-button @click="addRow">新增行</el-button>
          <el-button @click="addCol">新增列</el-button>
        </el-form-item>
        <el-form-item label="导入/导出">
          <el-upload
            style="display: inline-block"
            :show-file-list="false"
            :auto-upload="false"
            :on-change="importXlsxFile"
          >
            <el-button type="info">导入表格文件</el-button>
          </el-upload>
          <el-button type="success" @click="exportDataExcel">导出数据为表格</el-button>
        </el-form-item>
        <el-form-item label="json导入">
          <div style="display: flex">
            <el-input type="text" placeholder="请输入内容" v-model="jsonStr"> </el-input>
            <el-button style="margin-left: 16px" type="primary" @click="importJson">从json导入数据</el-button>
          </div>
        </el-form-item>
      </el-form>
      <el-table stripe :data="tableData">
        <el-table-column v-for="(item, index) in rowKey" :key="item.key" :prop="item.key" :label="item.name" />
      </el-table>
    </div>

    <script type="module" src="./180-main.js"></script>
  </body>
</html>
