<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="lijinbo" />
    <meta name="cdnload" content="vue,element-ui-js,element-ui-css" />
    <title>237-地图上两点间的距离</title>
  </head>

  <body>
    <div id="app">
      <p>
        更多地图计算算法，空间分析参考：
        <a href="https://turfjs.fenxianglu.cn/" target="_blank">turfjs</a>
      </p>
      <p>
        地图坐标拾取
        <a href="https://lbs.amap.com/tools/picker" target="_blank">高德地图坐标拾取</a>
      </p>
      <el-form label-width="120px">
        <el-form-item label="A点">
          <el-input v-model.trim="a" placeholder="经度,纬度" clearable></el-input>
        </el-form-item>
        <el-form-item label="B点">
          <el-input v-model.trim="b" placeholder="经度,纬度" clearable></el-input>
        </el-form-item>
        <el-form-item label="距离(km)">
          Haversine - 快速计算
          <el-input type="textarea" v-model="resultHaversine"></el-input>

          Vincenty - 高精度计算
          <el-input type="textarea" v-model="resultVincenty"></el-input>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="handle">计算</el-button>
        </el-form-item>
      </el-form>
    </div>
    <script src="./237-main.js"></script>
  </body>
</html>
