<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="cdnload" content="vue" />
    <meta name="author" content="lijinbo" />
    <title>208-js解数独</title>
    <style>
      .table_1 {
        color: #333333;
        border-width: 1px;
        border-color: #ddd;
        border-collapse: collapse;
      }
      .table_1 th {
        border: 1px solid #ddd;
        background-color: #dedede;
      }
      .table_1 td {
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        box-sizing: border-box;
        border: 1px solid #ddd;
        background-color: #ffffff;
      }
    </style>
  </head>

  <body>
    <div id="app">
      <div>
        <p>
          思路参考：
          <a href="https://www.bilibili.com/video/BV1TW4y1471V" target="_blank"> 回溯算法二维递归？解数独不过如此！ </a>
          <br />
          算法优化参考：
          <a href="https://blog.csdn.net/CodAlun/article/details/125087701" target="_blank">解数独</a>
        </p>
        <button @click="handle">解析</button>
        <button @click="location.reload()">重置</button>
      </div>
      <hr />
      <table class="table_1">
        <tr v-for="(row, index) in dataList" :key="index">
          <td v-for="(col, i) in row" :key="i">{{ col }}</td>
        </tr>
      </table>
    </div>
    <script type="module" src="./208-main.js"></script>
  </body>
</html>
