body {
  margin: 0;
}

.music_box {
  height: 100vh;
  margin-top: 50px;
  overflow-y: scroll;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #fff;
  padding-bottom: 100px;
}

.item_music_box {
  margin: 8px;
  cursor: pointer;
  display: flex;
  transition: 0.3s;
}

.item_music_active,
.item_music_box:hover {
  color: #4678cb;
  transform: translateX(16px);
  background-color: #f8f8f8;
  transition: 0.3s;
}

.item_music_box img {
  width: 60px;
  height: 60px;
  border-radius: 6px;
  margin-right: 12px;
}

.right_music_info {
  width: 80%;
}

.right_music_info .title {
  width: 100%;
  font-size: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.right_music_info .user {
  font-size: 14px;
  color: #666;
}

/* 滚动条美化 */
.music_box::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: transparent;
}

.music_box::-webkit-scrollbar-track {
  background-color: transparent;
}

.music_box::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-image: linear-gradient(135deg, #09f, #3c9);
}

.audio_play {
  width: 100%;
  position: fixed;
  left: 50%;
  bottom: 0;
  z-index: 100;
  overflow: hidden;
  padding-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.audio_title {
  margin: 4px;
  display: flex;
  width: 82%;
  overflow: hidden;
}

.audio_title div {
  text-align: left;
  padding-right: 20px;
  white-space: nowrap;
  animation: 15s wordsLoop linear infinite;
}

@keyframes wordsLoop {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.audio_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 12px;
  box-sizing: border-box;
}

.audio_content .next {
  width: 32px;
  height: 32px;
}

.top_box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 12px;
  box-sizing: border-box;
}

.play_type img {
  width: 32px;
  height: 32px;
}

/* 搜索框 */
.search_max {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.search_max_fixed {
  top: 0;
  z-index: 100;
  position: absolute;
  background-color: #fff;
}

.brace_box {
  height: 35px;
}

.search_max .search {
  width: 50%;
  border: 1px solid #ccc;
  padding: 7px 0px;
  border-radius: 3px;
  padding-left: 5px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.search_max .search:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.search_max button {
  box-sizing: border-box;
  text-align: center;
  border-radius: 4px;
  padding: 8px 20px;
  cursor: pointer;
  color: #fff;
  background-color: #297eff;
  border: 1px solid #ebedf0;
}
