<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/immutable@4.1.0/dist/immutable.min.js"></script>
    <title>js撤销与回退操作</title>
    <style>
      .history_max li {
        color: #999;
      }
      .history_max .active {
        color: #252525;
      }
      .box {
        height: 460px;
        display: flex;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <button @click="undo"><-撤销</button>
      <button @click="redo">->重做</button>
      <p>使用 immutable 的优势</p>
      <ul>
        <li>节约内存</li>
        <li>提升效率</li>
      </ul>
      <hr />
      <div class="box">
        <textarea v-model="content" @input="inputChange" cols="50" rows="10"></textarea>
        <ol class="history_max">
          <li v-for="(e, i) in showHistoryList" :key="e + i" :class="{ active: index >= i }">{{ e }}</li>
        </ol>
      </div>
    </div>

    <script>
      // 最大历史数量
      const maxStack = 20
      const data = Immutable.fromJS({
        // 模拟真实情况很多参数
        userName: 'tom',
        age: 18,
        list: [1, 2, 3],
        value: ''
      })
      function getData(value) {
        return data.set('value', value).toJS()
      }
      new Vue({
        el: '#app',
        data() {
          return {
            index: 0,
            content: '',
            historyList: []
          }
        },
        computed: {
          showHistoryList() {
            return this.historyList.map((e) => e.get('value'))
          }
        },
        mounted() {
          this.historyList.push(data.set('value', this.content))
        },
        methods: {
          inputChange(e) {
            const value = e.target.value
            this.historyList.push(data.set('value', value))
            this.index = this.historyList.length - 1

            if (this.historyList.length > maxStack) {
              this.historyList.shift()
            }
          },
          undo() {
            if (this.index == 0) return console.info('没有撤销的了')
            this.content = this.historyList[--this.index].get('value')
          },
          redo() {
            if (this.index == this.historyList.length - 1) return console.info('没有重做的了')
            this.content = this.historyList[++this.index].get('value')
          }
        }
      })
    </script>
    <script defer type="module" src="/utils/module/scriptTagToText.js"></script>
  </body>
</html>
